:host {
  display: block;
  box-sizing: border-box;
}

:host.dialog {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  right: 0;
  transform: translateY(0);
  z-index: 100;
  background: #fff;
  height: 100%;
}

:host.dialog:not(.is-open) {
  z-index: -1;
  transform: translateY(100%);
}

:host ::content section{
  height: 100%;
}

:host.has-navbar .page-content {
  margin-top: 55px !important;
}

.overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.overthrow-enabled .page-content{
  height: 100%;

  padding-bottom: 5rem;
}
